@import "variables";

body {
    background-color: $background-1;
    margin: 0px;
    padding: 0px;
}

.barra-gradient {
    @extend %barras;
    display: flex;
    height: 25px;
    justify-content: space-between;

    p {
        @extend %p;
    }
}

///////////div container//////////
.contenedor {
    flex-direction: column;
    padding: 40px;
}

/////////////////////////
a {
    text-decoration: none;
}

///////////////cabecera////////
.cabecera {
    align-content: center;
    display: flex;
    justify-content: space-between;

    .imagenes {
        align-items: center;
        display: flex;
        justify-content: space-between;

        img {
            align-self: center;
            cursor: pointer;
            margin: 5px;
        }
    }
}

.contenedor-botones {
    align-items: center;
    display: flex;
    justify-content: flex-end;
    padding: 5px;

    button {
        @extend %boton;
    }

    .btn-blancos {
        @extend %boton;
        background: $fondo-Day;
        margin: 5px;

        &:hover {
            background: #F7C9F3;
        }
    }

    .btn-rojo {
        display: flex;
        display: none;

        button {
            background: #FF6161;
            margin: 0px;
        }

    }

    .btn-3 {
        margin-left: 0px;
        width: 25px;
    }

    #btn-4 {
        background: none;
        border: none;
        box-shadow: none;
        margin-left: 20px;
        text-align: left;
        width: 100px;

        &:active {
            border: none;
        }

        &:hover {
            border: $border;
        }
    }
}

#ocultar {
    display: flex;
    justify-content: space-between;
}

#elegir-tema {
    display: flex;
    flex-direction: column;

    #btn-tema {
        display: flex;

        #btn-2 {
            margin-left: 20px;
            margin-right: 0px;
        }

    }

    #menu-temas {
        @extend %container;
        display: none;
        flex-direction: column;
        margin-left: 20px;
        padding: 0px;
        width: 165px;

        button {
            @extend %boton-menu-temas;
            align-self: center;

            &:active {
                background: #2E32FB;
                border: 1px solid rgba(51, 53, 143, 0.20);
                box-shadow: inset -1px -1px 0 0 #E6DCE4, inset 1px 1px 0 0 #FFFFFF;
                color: $fondo-Day;
            }
        }
    }
}

#buscador {
    @extend %container;
    display: flex;
    flex-direction: column;
    justify-content: baseline;
    margin: 50px 0px 25px 0px;

    div {
        margin: 5px;
    }

    #div-input {
        display: flex;
        justify-content: space-between;
        margin: 5px;

        input {
            @extend %container;
            box-shadow: inset -2px -2px 0 0 #E6E6E6, inset 2px 2px 0 0 #000000;
            height: 40px;
            padding-left: 5px;
            width: 1200px;
        }

        button {
            @extend %boton-menu-temas;
            align-self: center;
            display: flex;
            height: 30px;
            margin: 10px;
            width: 100px;

            p {
                @extend %p;
                color: #B4B4B4;
                margin: 5px;
            }

            img {
                align-self: center;
                border: none;
                box-shadow: none;
                height: 16px;
                width: 16px;
            }
        }
    }
}

/////////////////////////boton cuando está habilitado////////////////////////////////////
.boton-habilitado {
    @extend %boton;
    align-self: center;
    display: flex;
    height: 30px;
    margin: 10px;
    width: 100px;

    img {
        align-self: center;
        border: none;
        box-shadow: none;
        height: 16px;
        width: 16px;
    }

    p {
        color: $fondo-dark;
        margin: 5px;
    }
}

/////////////////////////div de botones celestes busquedas realizadas////////////////////
.buscados {
    display: flex;
    height: 30px;
    justify-content: flex-start;
    margin: 10px;
    overflow: hidden;

    button {
        @extend %botones-celestes;
        height: 24px;
        margin: 5px;

        &::before {
            content: "#";
        }
    }

    p {
        @extend %p;
        color: $fondo-dark;
    }
}

////////////////////////////////////////////
.menu-opciones {
    @extend %container;
    display: none;
    flex-direction: column;

    div {
        @extend %boton-menu-temas;
        @extend %p;
        align-items: center;
        background: #DBDBDB;
        border: $border-1;
        box-shadow: $box-shadow-2;
        color: $fondo-dark;
        height: 30px;
        margin: 5px;
        justify-content: flex-start;
    }
}

.input {
    @extend %container-input;
    width: 1255px;
}

.contenedor-de-giphys {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 0px;
    columns: 4;

    img {
        display: flex;
        flex-wrap: wrap;
        margin: 5px;
        max-height: 300px;
    }
}

.contenedores {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0px;
    columns: 5;
}

.sugerencia {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    height: 324px;
    margin-top: 5px;
    width: 300px;

    &:hover {
        border: 1px dotted #110038;
        cursor: pointer;
    }

    .giphy-sugerido {
        height: 324px;
        width: 300px;
        position: absolute;
        z-index: -2;
    }

    button {
        @extend %botones-celestes;
        height: 28px;
        margin: 0px;
        width: 75px;
        z-index: 1;

        &:hover {
            border: 1px dotted #110038;
        }
    }

}

.tendencia {
    display: flex;
    flex-direction: column;
    margin: 5px;

    p {
        &::before {
            content: "#";
        }
    }

    img {
        max-height: 250px;

        &:hover {
            cursor: pointer;
            border: 1px dotted #110038;
        }
    }
}

////////////////////////style mis guifos/////////////////////////////////////////////////////
#contenedor_mis_guifos {
    @extend %container;
    display: none;
    padding: 5px;
}

.contenedor_guifos {
    @extend %container;
    display: flex;
    flex-direction: column;
    margin: 50px;
    margin-left: 350px;
    width: 50%;
    padding: 5px;
}

// #comenzar,
// #cancelar,
// #repetir-captura,
// #subir-guifo {
//     background-color: $fondo-Day;

//     &:hover {
//         background-color: #F7C9F3;
//         ;
//     }
// }

#crear_guifo {
    p {
        @extend %p;
        color: $fondo-dark;
        margin-left: 45px;
    }

    ol {
        list-style: none;
        counter-reset: lista;

        li {
            @extend %p;
            color: $fondo-dark;

            &::before {
                counter-increment: lista;
                content: counter(lista) ")";
                font-weight: bold;
                margin: 5px;
            }
        }
    }
}

#contador {
    @extend %container-input;
    text-align: center;
    width: 100px;
}

#btn-captura {
    display: none;
}

///////////////////////////class dark////////////////////////////////////////
.modo-dark {
    .contenedor {
        background-color: $fondo-dark;
    }

    .barra-gradient {
        background-image: $color-gradiente-dark;
    }

    .contenedor-botones {
        button {
            @extend %boton;
            background: $background-2;
            border: $box-shadow;
            box-shadow: inset -1px -1px 0 0 #A72CB3, inset 1px 1px 0 0 #FFFFFF;
            color: $fondo-Day;

            a {
                color: $fondo-Day;
            }

            &:hover {
                border: 1px dotted #FFFFFF;
            }
        }
    }

    #gifOF_logo {
        align-self: center;
    }

    #elegir-tema {
        #menu {
            display: none;
            @extend %container-dark;
        }
    }

    #buscador {
        @extend %container-dark;

        #div-input {

            button {
                border: $box-shadow;
                box-shadow: inset -1px -1px 0 0 #A72CB3, inset 1px 1px 0 0 #FFFFFF;
                color: #B4B4B4;

                img {
                    margin: 0px;
                }

                p {
                    @extend %p;
                    color: #8F8F8F;
                    margin: 0px;
                }
            }

        }

        #menu-buscador {
            @extend %container-dark;

            div {
                border: $border-1;
                box-shadow: $box-shadow-2;
                background: $background-3;
                display: none;
                justify-content: flex-start;

                p {
                    color: $fondo-dark;
                }
            }
        }
    }
}